@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.change-advice:hover {
  filter: drop-shadow(0 0 10px hsl(170, 30%, 40%));
}

.divider-container {
  background: center no-repeat url('../images/pattern-divider-mobile.svg');
}

@media screen and (min-width: 768px) {
  .divider-container {
    background: center no-repeat url('../images/pattern-divider-desktop.svg');
  }
}
